# --- 1. Самое важное (Секреты и пароли) ---
.env
.env.local
config.py  # Если вдруг там остались старые пароли
*.pem      # Ключи шифрования

# --- 2. Виртуальное окружение (venv) ---
# Мы не грузим саму папку с библиотеками, их ставят через requirements.txt
venv/
env/
.venv/
.env/

# --- 3. Python мусор (кэши) ---
__pycache__/
*.py[cod]
*$py.class

# --- 4. База данных (Локальная) ---
# SQLite не должен попасть в репозиторий, на сервере будет чистый Postgres
*.sqlite3
*.sqlite3-journal
db.sqlite3

# --- 5. Медиа и Статика ---
# Папки с загруженными файлами (фото уроков, видео). 
# Их мы будем заливать через Админку на сервере, в гите они не нужны (забивают место).
media/
# Но саму папку можно оставить пустой, если нужно (обычно Docker сам создаст)
# staticfiles - это папка, куда Django собирает статику (collectstatic)
staticfiles/

# --- 6. Docker (Тома с данными) ---
# Чтобы папки, которые создал Docker Compose на твоем компе, не улетели в гит
postgres_data/
redis_data/
media_data/

# --- 7. Настройки редактора (VS Code) ---
.vscode/
.idea/

# --- 8. Операционная система ---
Thumbs.db
.DS_Store